    * {
        margin: 0;
        padding: 0;
        font-family: 'Times New Roman', Times, serif;
    }
    
    html {
        scroll-behavior: smooth;
        transition: all 1s ease-in-out;
    }
    
    body {
        height: 2375px;
    }
    
    .content::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(thought-catalog-505eectW54k-unsplash.jpg);
        opacity: 0.92;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    
    .content {
        max-width: 600px;
        color: #fff;
        margin-top: 12%;
        margin-left: 15%;
    }
    
    .content h1 {
        font-size: 56px;
        line-height: 70px;
        letter-spacing: 1px;
        margin: 15px 0;
    }
    
    span {
        color: #ff6b3f;
    }
   
    
    #middle-heading {
        text-align: center;
        margin-top: 645px;
        font-size: 60px;
        font-weight: bold;
    }
    
    #middle-heading::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 1000px;
        left: 0;
        width: 100%;
        height: 1610px;
        background-color: rgba(182, 171, 171, 0.11);
    }
    
    #startBtn {
        position: absolute;
        font-weight: bold;
        top: 515px;
        color: white;
        left: 400px;
        padding: 30px;
        border: 3px solid black;
        background-color: transparent;
        border-radius: 30px;
        text-decoration: none;
    }
    
    #startBtn:hover {
        transition: all .3s ease-in-out;
        /* border-bottom: 1px solid black;
    border-left: 1px solid black; */
        background-color: #dd4c20;
    }
    
    #img-section {
        display: flex;
        position: absolute;
        flex-direction: row;
        width: 100%;
        top: 1000px;
        flex-wrap: wrap;
        /* grid-template-columns: repeat(2, auto); */
    }
    
    .img-size {
        height: 825px;
        width: 530px;
    }
    
    #img-section img {
        /* margin: 400px 180px;
    z-index: -1; */
        margin: 150px 0px 250px 160px;
        /* margin-left: 100px; */
        /* z-index: -1; */
        display: flex;
        justify-content: space-evenly;
        position: relative;
        top: 300px
    }
    /* Scale image on hover */
    
    #img-section img:hover {
        /* box-shadow: black 10px 10px 30px 10px; */
        transition: all .6s ease-in-out;
        transform: scale(1.45);
    }
    
    .Label {
        position: relative;
        top: 240px;
        display: block;
        margin-left: 53%;
        /* padding: 50px 30px; */
        font-size: 44px;
        z-index: -1;
    }
    
    footer {
        background-color: black;
        color: white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 1500px;
        height: 5%;
        font-size: 20px;
    }
    
    @media screen and (max-width: 430px) {
       .content h1 {
            margin: 15px -7px;
        } 
       #middle-heading::before {
            height: 1700px;
            background-color: rgba(182, 171, 171, 0.11);
        }
        #img-section {
            display: flex;
            flex-wrap: wrap;
            /* grid-template-rows: repeat(1, auto); */
            flex-direction: column;
        }
        .img-size {
            height: 413px;
            width: 265px;
        }
        #img-section img {
            display: block;
            margin: 35px auto;
            z-index: -1;
        }
        #middle-heading {
            text-align: center;
            margin-top: 760px;
            font-size: 30px;
            font-weight: bold;
        }
        .Label {
            font-size: 30px;
            position: relative;
            top: 300px;
            /* left: 0px; */
            right: 70px;
        }
        #startBtn {
            top: 500px;
            left: 150px;
        }
        .content h1 {
            font-size: 40px;
        }
        footer {
            top: 1570px;
        }
    }
    
    @media screen and (min-width: 429px) and (max-width: 1381px) {
        #middle-heading::before {
            height: 2350px;
            position: absolute;
            top: -2px;
            background-color: rgba(182, 171, 171, 0.11);
        }
        #img-section {
            display: flex;
            flex-wrap: wrap;
            /* grid-template-rows: repeat(1, auto); */
            flex-direction: column;
        }
        .img-size {
            height: 826px;
            width: 530px;
        }
        #img-section img {
            display: block;
            margin: 35px auto;
            z-index: -1;
        }
        #middle-heading {
            text-align: center;
            position: relative;
            top: 130px;
            font-size: 45px;
            font-weight: bold;
        }
        .Label {
            font-size: 45px;
            position: relative;
            top: 300px;
            /* left: 0px; */
            right: 70px;
        }
        #startBtn {
            left: 200px;
        }
        .content h1 {
            font-size: 40px;
        }
        footer {
            top: 2300px;
        }
    }
